[data-marquee] {
  position: relative;
  overflow: hidden;
}

[data-marquee-inner] {
  display: flex;
}

[data-marquee][data-direction="right"] [data-marquee-inner] {
  justify-content: flex-end;
}

[data-marquee-content] {
  display: flex;
  flex: 1 0 auto;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  will-change: transform;
}

[data-marquee][data-direction="left"] [data-marquee-content] {
  animation-name: marqueeL;
}

[data-marquee][data-direction="right"] [data-marquee-content] {
  animation-name: marqueeR;
}

[data-marquee][data-pause-on-hover]:hover [data-marquee-content] {
  animation-play-state: paused;
}

[data-marquee-item] {
  flex-grow: 0;
}

@keyframes marqueeL {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marqueeR {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@media (prefers-reduced-motion) {
  [data-marquee-inner] {
    overflow-x: scroll;
  }

  [data-marquee-content] {
    animation: none !important;
  }
}
